---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>我爱南京</li>
            <li>我爱李志</li>
            <li>我爱文贞</li>
            <li>我爱写作</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://twitter.com/Alan2111zy" target="_blank"> Twitter</a>
            </li>
            <li>
              <a href="https://github.com/zhen521" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">随想</h2>
        <div class="tag-post-list">
          <ul>
            <li>语言没有主观和客观之分，观点的表达必然是主观的。</li>
            <li>。</li>
            <li>。</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">一些作品</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              没有作品，但我会有的。
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
